<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="../static/js/books.js"  charset="utf-8"></script>
    <!-- <style>
        pre{
          /* font-family: "Yuanti SC"; */
          font-family: "Yapi SC", "Yuanti SC","Heiti SC";

        }
    </style> -->
</head>
<body>
    <div id="navbar">

        <!-- <a href="#home">Home</a>
      
        <a href="#Menu">Menu</a> -->

        <a  href = "{{ url_for('books') }}" rel = "refresh">
            <button class="button1" >&#8635</button>
        </a>
        <a href = "{{ url_for('delete_wait_', id = id) }}" >
            <button class="button1" >&#9746</button>
        </a>
        <a href = "{{ url_for('books') }}" >
            <button class="button2" >pixiv</button>
        </a>
      
        <!-- <a href="#contact">Contact</a> -->
      
      </div>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ title }}     
    </h2> 
    <div class = "marginscreen">
        <a href = "{{ url_for('wait') }}" >
            <button class="button1" >&#8635</button>
        </a>
        <a href = "{{ url_for('delete_wait_', id = id) }}" >
            <button class="button1" >&#9746</button>
        </a>
        <a href = "{{ url_for('save_wait_', id = id) }}" >
            <button class="button1" >&#9745</button>
        </a>
        <a href = "{{ url_for('books') }}" >
            <button class="button2" >pixiv</button>
        </a>
    </div>

    <article white-space:pre-wrap;>
        <pre>
        {{ text }}
        </pre>
    </article>
    <div class="article-tags">
    {% for keyword in keywords %}
        {% if keyword | length < 5 %}
                <a href="http://www.mtk004.xyz/tag/youmi%e5%b0%a4%e8%9c%9c%e8%8d%9f"  rel="tag"> 
                    {{ keyword }}
                </a>
        {% endif %}
    {% endfor %}
    </div>
    <hr />
    <a href = "{{ url_for('wait') }}" >
        <button class="button1" >&#8635</button>
    </a>
    <a href = "{{ url_for('delete_wait_', id = id) }}" >
        <button class="button1" >&#9746</button>
    </a>
    <a href = "{{ url_for('save_wait_', id = id) }}" >
        <button class="button1" >&#9745</button>
    </a>

    <div id="myNav" class="overlay">
        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <!-- Overlay content -->
        <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        </div>
    </div>

    <!-- Use any element to open/show the overlay navigation menu -->
    <span onclick="openNav()">open</span>

</body>
</html>